h1 {
  text-align: center;
  font-size: 36px;
  line-height: 40px;
  font-weight: 600;
}

h2 {
  font-size: 26px;
  line-height: 31px;
  font-weight: 600;
}

p,
li,
ul {
  font-size: 18px;
  line-height: 29px;
  color: #222222;
}

.container {
  margin: auto;
  padding-top: 2rem;
  width: 65vw;
}

.container .ant-tag {
  cursor: pointer;
}

.template .ant-btn {
  position: fixed;
  margin: 2rem 2rem;
}

.nav-bottom ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

footer {
  display: flex;
}
footer .footer-text {
  max-width: 87%;
  margin-left: 3%;
}

.prism-code {
  padding: 1rem;
}
