.ant-col {
  padding: 18px;
}

.ant-row .card-about {
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}

.ant-row .card-blog {
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}
