.ant-card .card-body {
  padding: 0;
}

.card-body .ant-card-body {
  padding: 24px 0 24px;
}

.card-body hr {
  border: 1px dotted #e0e0e0;
  margin-bottom: -25px;
  margin-top: 20px;
}

.card-body p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.card-body .blog-more {
  margin-top: 8px;
}

.blog-title {
  display: flex;
  justify-content: space-between;
}

.blog-title .blog-tag {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  width: 5vw;
  height: 25px;
  text-align: center;
  padding: auto;
}

.blog-title .blog-tag:hover {
  color: #fff;
  background-color: #096dd9;
  border-radius: 7px;
}

.blog-title .title {
  font-size: 27px;
  line-height: 39px;
  font-weight: 500;
  margin-bottom: 8px;
}

.blog-more .link {
  font-size: 16px;
}
